[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Pythonic Apple Bot
Comment=See Python AI play - Made with Python3
Exec=run-pythonicappleAI
Icon=/usr/share/pixmaps/Ak.png
Terminal=false
Type=Application
Categories=Application;Game
